

.header {
  padding: 20px 0;
  -webkit-box-shadow: 0px 6px 7px -7px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 6px 7px -7px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 6px 7px -7px rgba(34, 60, 80, 0.6);
}
.header span{
  color:blue;
  font-size: 22px;
}

img {
  width: 60px;
}






