<div class="container">
  <div class="details">
    <div class="text">
      <div>
        <h3>
          {{ word?.newWord }}
        </h3>
        <p>
          {{ word?.translation }}
        </p>
        <p>
          {{ word?.example }}
        </p>
      </div>
      <form [formGroup]="form" (submit)="send()">
        <p>
          <label for="name">FIO</label>
        </p>
        <input type="text" id="name" name="name" formControlName="name"/>
        <p>
          <label for="comment">COMMENT</label>
        </p>
        <input type="text" id="comment" name="comment" formControlName="comment"/>

        <p>
            <button type="submit">yuborish</button>
        </p>
      </form>
    </div>
    <div class="img">
      <img [src]="word?.photo" alt="" />
    </div>
  </div>
</div>
